.plans{
    margin-top: 4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    
}
.plans--blur-1{
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0rem;
}
.plans--blur-2{
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}
.plans__card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.plans__card__item{
    display: flex;
    flex-direction: column;
    background:var(--caloryCard);
    color: white;
    gap: 2rem;
    padding:1.5rem;
    width: 15rem;

}
.plans__card__item:nth-child(2){
    background:var(--planCard);
    transform:scale(1.1);

}

.plans__card__item>svg{
    fill:var(--orange);
    width: 2rem;
    height: 2rem;

}
.plans__card__item>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;

}
.plans__card__item>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}
.plans__card__item>:nth-child(5){
    font-size: 0.8rem;
}
.plans__card__feauters{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.plans__card__feauters__item{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.plans__card__feauters__item>img{
    width: 1rem;
}
.plans__card>:nth-child(2)>svg{
    fill:white;
    
}

.plans__card>:nth-child(2)>button{
    color: orange;
    
}

@media screen  and (max-width:768px){
.plans__card{
    flex-direction: column;
}

.plans__card__item:nth-child(2){
  
    transform:none;

}
}
