.footer{
    position: relative;
   
    
}
.footer>hr{
    border: 1px solid var(--lightgray)
}
.footer__social{
    padding:1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;

}
.footer__social__icons{
    display: flex;
    gap: 4rem;
}
.footer__social__icons>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.footer__social__logo>img{
  width: 10rem;
}