.testimonials {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}
.testimonials__left {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
}
.testimonials__left > :nth-child(1) {
  color: var(--orange);
  font-weight: bold;
}
.testimonials__left > :nth-child(2) {
  font-weight: bold;
  font-size: 3rem;
}
.testimonials__left > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
}

.testimonials__left > :nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
  color: #fff;
}
.testimonials__right {
  flex: 1;
  position: relative;
}
.testimonials__right > img {
  position: absolute;
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  right: 8rem;
  top: 2rem;
}
.testimonials__right > :nth-child(1) {
  position: absolute;
  width: 17rem;
  height: 20rem;
  border: 2px solid orange;
  background-color: transparent;
  right: 9rem;
  top: 0.9rem;
}
.testimonials__right > :nth-child(2) {
  position: absolute;
  width: 17rem;
  height: 19rem;
  right: 7rem;
  top: 4rem;
  background: var(--planCard);
}
.testimonials__right__arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}
.testimonials__right__arrows > img {
  width: 1.5rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }

  .testimonials__left > :nth-child(1),
  .testimonials__left > :nth-child(2) {
    font-size: xx-large;
  }

  .testimonials__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .testimonials__right>div {
    position: relative;
    display: none;
  }
  .testimonials__right>img{
    position: relative;
    top: 0;
    right: 0;
    align-self: center;
  }


}

.testimonials__right>:last-child{
    display: block;
    bottom: 0;
    left: 0;
}