.reasons{
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}
.reasons__left{
    flex: 1 1;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
}
.reasons__left>img{
    object-fit: cover;
}
.reasons__left>:nth-child(1){
    width: 12rem;
    grid-row: 1/3;
    height: 28rem;
}
.reasons__left>:nth-child(2){
    width: auto;
    height:16rem;
    grid-column: 2/4;
}
.reasons__left>:nth-child(3){
    width: 14rem;
    grid-row: 2;
    grid-column: 2/3;
    
}
.reasons__left>:nth-child(4){
    width: 10rem;
    grid-row: 2;
    grid-column: 3/4;
    height: 11.2rem;
    
}
.reasons__right{
    flex: 1 1;
    text-transform: uppercase;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.reasons__right>span{
    font-weight: bold;
    color:  var(--orange);

}
.reasons__right>div{
    font-size: 3rem;
    font-weight: bold;
    color:  white;

}
.reasons__right__details{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.reasons__right__details>div{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}
.reasons__right__details>div>img{
    width: 2rem;
    height: 2rem;
}

.reasons__right__partners{
    display: flex;
    gap: 1rem;
   
}
.reasons__right__partners>img{
    width: 2.5rem;
   
}
@media screen  and (max-width:768px){

    .reasons{
        flex-direction: column;
    }
    .reasons__left{
        grid-auto-rows: auto;
        overflow: hidden;
    }
    .reasons__left>:nth-child(1){
        width: 7rem;
        height: 17rem;
        
    }
    .reasons__left>:nth-child(2){
        width: 15rem;
        height: 10rem;
        
    }
    .reasons__left>:nth-child(3){
        width: 15rem;
        
        
    }
    .reasons__left>:nth-child(4){
        width: 7rem;
        height: 6rem;
        
    }

}
